{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-top: -20px;
}

{% endblock %}
</style>


     
{% block jumbotron %}


		{% if featured_image %}
		<div class="jumbotron" >
		 <div class="container">
			<div class="row">
				<div class='col-sm-12 text-center {% if featured_image.text_right %} pull-right {% endif %}'>
				<p>{{ featured_image.product.description }}</p>
				</div>
				<div class='col-sm-12' >
					<a href="{{ featured_image.product.get_absolute_url }}"><img src="{{ featured_image.image.url }}" class='img-responsive' /></a>
		 		</div>
				</div>
			</div>
		 </div>


	{% else %}
	<div class="jumbotron">
	 <div class="container">
		<div class="row">
			<div class='col-sm-6'>
			<h1>Ecommerce</h1>
			<p>
			<a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
			</p>
			</div>

			</div>
		</div>
	 </div>

	 {% endif %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     {% for product in products2 %}
	  <div class="col-md-2 project-grid"><a href='{{ product.get_absolute_url }}'><img id='img' class='img-responsive thumbnail' src='{{ product.get_image_url }}' /></a><br/></div>
	 {% endfor %}
    </div>
    <div class="item">
      {% for product in products3 %}
		<div class="col-md-2 project-grid"><a href='{{ product.get_absolute_url }}'><img id='img2' class='img-responsive thumbnail' src='{{ product.get_image_url }}' /></a><br/></div>
	  {% endfor %}
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{% endblock %}
{% block content %}

<div class='row'>
<h3>Recommended Products</h3>
{% include "products/products.html" with object_list=products col_class_set="col-sm-2" %}

</div>

<div class='row'>
<h3>Featured Products</h3>
{% include "products/products.html" with object_list=products2 %}

</div>
{% endblock %}